*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(7, 47, 47);
    color: white;
    height: 5rem;
    line-height: 5rem;
    margin-bottom: 40px;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,  #computer-score { 
    font-size: 4rem;
}

.msg-container{
    margin-top: 4rem;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 10px;
}

/* Media query for max-width: 500px */
@media screen and (max-width: 700px) {
    .choices {
        flex-direction: row;
        gap: 1rem;
    }

    .score-board {
        flex-direction: row;
        gap: 4rem;
    }
}

/* Media query for max-width: 500px */
@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.65rem;
    }

    .choice {
        height: 120px;
        width: 120px;
    }

    img {
        height: 110px;
        width: 110px;
    }

    .score-board {
        font-size: 1.75rem;
    }

    #msg {
        font-size: 1.5rem;
    }
}

/* Media query for max-width: 430px */
@media screen and (max-width: 430px) {
    h1 {
        height: 4rem;
        line-height: 4rem;
        font-size: 1.25rem;
    }

    .choice {
        height: 95px;
        width: 95px;
    }

    img {
        height: 85px;
        width: 85px;
    }

    .score-board {
        font-size: 1.75rem;
    }

    #msg {
        font-size: 1.1rem;
    }
}

/* Media query for max-width: 330px */
@media screen and (max-width: 330px) {
    h1 {
        height: 3rem;
        line-height: 3rem;
        font-size: 0.80rem;
    }

    .choice {
        height: 60px;
        width: 60px;
        min-width: none;
    }

    img {
        height: 50px;
        width: 50px;
        min-width: none;
    }

    .score-board {
        font-size: 1.25rem;
    }

    #user-score, #computer-score {
        font-size: 2.25rem;
    }

    #you, #comp {
        font-size: 1.25rem;
    }
    #msg {
        font-size: 0.6rem;
    }
}
